.widget-base_weatherentity-{{id}} {
    color: white;
}

.widget-base_weatherentity-{{id}} h1 {
    margin-bottom: 0px;
}

.widget-base_weatherentity-{{id}} [class^="primary"] {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.widget-base_weatherentity-{{id}} .primary-climacon {
    font-family: "Climacons-Font";
    font-size: 70px;
}

.widget-base_weatherentity-{{id}} .primary-info {
    font-size: 300%;
    font-weight: 400;
}

.widget-base_weatherentity-{{id}} .primary-unit {
    font-size: 100%;
    font-weight: 400;
    margin-left: 0;
    margin-top: 20px;
    vertical-align: top;
}

.widget-base_weatherentity-{{id}} [class^="secondary-"] {
    padding: 0;
    margin: 0px;
}

.widget-base_weatherentity-{{id}} .secondary-detail {
    display: inline-block;
    font-size: 125%;
    font-weight: 200;
    vertical-align: middle;
    padding: 2px 4px;
}

.widget-base_weatherentity-{{id}} .vertical-forecast-first {
    border-left: 1px solid grey;
}

.widget-base_weatherentity-{{id}} .vertical-forecast {
    display: inline-block;
    vertical-align: middle;
    padding: 0px 8px;
    margin-bottom:5px;
    border-right: 1px solid grey;
}

.widget-base_weatherentity-{{id}} .vertical-detail {
    font-size: 125%;
    font-weight: 200;
    vertical-align: middle;
    padding: 2px 4px;
}

.widget-base_weatherentity-{{id}} .secondary-climacon {
    font-family: "Climacons-Font";
    font-size: 30px;
    margin-left: 10px;
    margin-right: 0px;
}

.widget-base_weatherentity-{{id}} .rain:before{
    content: "\e009";
}

.widget-base_weatherentity-{{id}} .snow:before{
    content: "\e036";
}

.widget-base_weatherentity-{{id}} .sleet:before{
    content: "\e003";
}

.widget-base_weatherentity-{{id}} .wind:before{
    content: "\e021";
}

.widget-base_weatherentity-{{id}} .fog:before{
    content: "\e01b";
}

.widget-base_weatherentity-{{id}} .cloudy:before{
    content: "\e000";
}

.widget-base_weatherentity-{{id}} .clear-day:before{
    content: "\e028";
}

.widget-base_weatherentity-{{id}} .clear-night:before{
    content: "\e02d";
}

.widget-base_weatherentity-{{id}} .partly-cloudy-day:before{
    content: "\e001";
}

.widget-base_weatherentity-{{id}} .partly-cloudy-night:before{
    content: "\e002";
}

.widget-base_weatherentity-{{id}} hr {
    width: 90%;
    border: 0;
    height: 1px;
    background: rgba(255, 255, 255, 0.25);
    margin-top: 15px;
    margin-bottom: 15px;
}
